<!--About me main content-->

<main class="container blockquote text-center ">
<div class="container" style="background-color: #a39af2;">
  <div class="jumbotron shadow-sm">

    <h1 class="display-4 page-title">About me</h1>

    <img src="/Assets/images/zipai.jpg" class="rounded shadow-sm" style="max-width: 15%;">

    <p class="lead">Hao Wang</p>

    <hr class="my-4">
    <!--short paragraph-->
    <p>
      My name is Hao Wang, I am from China. I am 21 years old. My major is Game Programming. I like playing games, watching movies, listening to music and doing sports and I like computer culture very much and would like to work in a game company. I know how to use C#, Java, HTML/CSS and other languages. Below is my resume, thank you
    </p>

    <!--cv pdf-->

    <a class="btn btn-outline-success" href="/Assets/documents/Co-op_Resume_Hao_Wang_301027664_-_Copy.pdf" role="button">My Resume</a>
  </div>

</main>