<div class="container" style="background-color: #d7d4f9;">
        <div class="jumbotron" style="text-align: center;">
          <h3 class="display-4">Contact information</h3><br>
          <div class="container" style="width: 600px; text-align: center;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: Hao Wang</li>
            <li class="list-group-item">Email: <a href="1780692450@qq.com">1780692450@qq.com</a></li>
            <li class="list-group-item">Phone Number: 4379810924</li>
          </ul>
         </div> <br>
          <div class="container" style="width: 600px; text-align: left;">
            <body>

<form role="form">
	<div class="form-group">
		<label for="name">First Name: </label>
		<input type="text" class="form-control" id="name" 
			   placeholder="Please enter your first name">
	</div>

    <div class="form-group">
		<label for="name">Last name: </label>
		<input type="text" class="form-control" id="name" 
			   placeholder="Please enter your last name">
	</div>
	
    <div class="form-group">
		<label for="name">Phone number: </label>
		<input type="text" class="form-control" id="name" 
			   placeholder="Please enter your phone number">
	</div>

    <div class="form-group">
		<label for="name">Email: </label>
		<input type="text" class="form-control" id="name" 
			   placeholder="Please enter your email">
	</div>

    <div class="form-group">
		<label for="name">Questions: </label>
		<input type="text" class="form-control" id="name" 
			   placeholder="What questions do you want to know?">
	</div>


	<div class="checkbox">
		<label>
			<input type="checkbox"> Do you want to make friend with me?
		</label>
	</div>
	
</form>
	
</body>
              </div>
              <a href="/home"><button type="button" class="btn btn-dark">Submit</button></a> 
            </form>
          </div>
        </div>
      </div>