
<!--home main content-->

<main class="container blockquote text-center ">   

  <div class="jumbotron shadow-sm">

    <h1 class="display-4 page-title"><%= title %></h1>

    

    <hr class="my-4">

    <!--simple nav menu-->

    <h2>Choose one!</h2>
          
      <div class="row ">
      
        <div class="col-4 mx-auto ">
      
            <a class="list-group-item list-group-item-action"  href="/about" role="tab" ><img src="/Assets/images/me.jpg" width="70%" height="70%"><br><br></a>
      
            <a class="list-group-item list-group-item-action"   href="/products" role="tab" ><img src="/Assets/images/photo.png" width="70%" height="70%"><br><br></a>
      
            <a class="list-group-item list-group-item-action" href="/services" role="tab" ><img src="/Assets/images/puppy.jpg" width="70%" height="70%"><br><br></a>
      
        </div>
   
      </div>
      
    </div>
  
  </main>