<div class="container" style="background-color: #bdb7f6;">
        <div class="jumbotron" style="text-align: center;">
          <h3>Products</h3><br>
          
          <div class="container" style="width: 600px;">
            <h4 class="display-6">Santa Adventure</h4>
            <img src="/Assets/images/game.png" width="70%" height="70%"><br><br>
            <p>It took our team one month to finish this game, which is a 2D parkour pass game. I am active in the group and always do what I can. The final score of this game is very high. 
             </p>
            </div>
        <br \>
            <div class="container" style="width: 600px;">
            <h4 class="display-6">Website</h4>
            <img src="/Assets/images/webpage.png" width="100%" height="100%"><br><br>

            <p>This is my final project of website last semester, and I got A+ good grade
             </p>
            </div>
          
          </div>
      </div>